body {
    background:#191919;
}
a {
    color: #3ea6ff;
}
a:visited {
    /*color: #7B3EF4;*/
}
.content {
    background-color: #282828;
    color: #aaa;
    box-shadow: 0 0 10px 10px #111;
}
#switch {
    background-color: #4a4a4a;
    color: #bbb;
    border-radius: 2px;
    border: 1px solid #888;
}