body {
    background:#eee;
}
a {
    color: blue;
}
a:visited {
    /*color: #8A59F4;*/
}
.navigation {
    background-color: #eee;
}
.content {
    background-color: #fff;
    box-shadow: 0 0 10px 10px #ddd;
}