body {
    margin: 0;
    font-family: sans-serif;
}
h1.title {
    text-align: center;
}
a {
    font-size: 1.3em;
}
p {
    font-size: 1.2em;
}
.navigation {
    padding: 2em;
    margin: 1em 0 1em -2em;
    border-radius: 10px;
}
ul {
    list-style-type: disc;
}
.content {
    font-size: 1.2em;
    border-radius: 0 0 10px 10px;
    width: 55%;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 1em 3em 3em 5em;
}
li {
    margin-bottom: 0.5em;
    letter-spacing: 0.03em;
}
li > a {
    text-decoration: none;
}
#switch {
    padding: 0.35em 1em;
    font-size: 1.1em;
    user-select: none;
    position: fixed;
    bottom: 1em;
    right: 3em;
}